<!-- calculator.component.html -->
<div class="calculator">
  <h1>Calculator</h1>

  <!-- Input Display -->
  <input type="text" [value]="currentInput" readonly>

  <!-- Calculator Buttons -->
  <div class="button-grid">
    <button (click)="appendValue('+')">+</button>
    <button (click)="appendValue('-')">-</button>
    <button (click)="appendValue('/')">/</button>
    <button (click)="appendValue('*')">*</button>

    <button (click)="appendValue(numberValues.zero)">0</button>
    <button (click)="appendValue(numberValues.one)">1</button>
    <button (click)="appendValue(numberValues.two)">2</button>
    <button (click)="appendValue(numberValues.three)">3</button>

    <button (click)="appendValue(numberValues.four)">4</button>
    <button (click)="appendValue(numberValues.five)">5</button>
    <button (click)="appendValue(numberValues.six)">6</button>
    <button (click)="appendValue(numberValues.seven)">7</button>

    <button (click)="appendValue(numberValues.eight)">8</button>
    <button (click)="appendValue(numberValues.nine)">9</button>
    <button (click)="calculateResult()">=</button>
    <button (click)="deleteLast()">del</button>

    <button class="clear-all" (click)="clearAll()">Clear All</button>
  </div>
</div>
