<!-- bodylist.component.html -->
<div class="bodylist">
  <h1>Content Overview</h1>

  <!-- Types of Fruit List -->
  <ol class="fruit-list">
    <strong>Types of Fruit</strong>
    <li>Apple</li>
    <li>Pear</li>
    <li>Orange</li>
    <li>Grapes</li>
  </ol>

  <!-- Navigation Link -->
  <a href="http://www.google.com" class="nav-link">Navigate to Google Webpage</a>

  <!-- Image Display -->
  <img src="https://www.codelabsdash.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo-wide.df2b60db.png&w=828&q=75" alt="Code Labs Logo" class="logo-image">

  <!-- Highlighted Text -->
  <p>This is a <span class="highlight">highlighted</span> word.</p>

  <!-- Numbered List with Highlights -->
  <ul class="number-list">
    <li><span class="highlight">1</span></li>
    <li class="black-text">2</li>
    <li>3</li>
  </ul>

  <!-- Dynamic Food Items List -->
  <ul class="food-items">
    <li *ngFor="let item of foodItems">
      {{ item.name }} - ${{ item.price }}
    </li>
  </ul>

  <!-- Dynamic Drink List -->
  <ol class="drink-list">
    {{ drink }}
  </ol>
</div>
