<div class="bodylist">
<ol style="color: white;"><b>Types of Fruit</b>
<li>Apple</li>
<li>Pear</li>
<li>Orange</li>
<li>Grapes</li>
</ol>


<a href="http://www.google.com">navigate to google webpage</a>

<img
 src="https://www.codelabsdash.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo-wide.df2b60db.png&w=828&q=75">

<p>This is a <span class="highlight">highlighted</span> word.</p>

<ul>
  <li><span class="highlight">1</span></li>
  <li style="color: black;">2</li>
  <li>3</li>

</ul>

<ul>
  <!-- Dynamically display the food items -->
  <li *ngFor="let item of foodItems">
    {{ item.name }} - ${{ item.price }}
  </li>
</ul>

<img src="https://dbw3zep4prcju.cloudfront.net/animal/2fdfd2e5-5e9b-4f14-a28a-4346beb12e69/image/0cb85065-b3af-45d1-b036-43ef2c693d8c.jpeg?versionId=sUSWqqpJiHvNvddf.DnaO5tWe631HR6I&bust=1723653441&width=600" alt="">
</div>
